html, body {
  margin: 0;
  padding: 0;
}
.soundButton{
  width:154px;
  height:120px
}
#soundWrapper{
  display: flex;
  flex-wrap: wrap;
  margin-left:1rem
}
#soundboard{
  justify-content:center;
  display: flex;
  flex-wrap: wrap;
  gap:1rem;
}
